<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal" }) do |f| %>
  <%= render :partial => "shared/error_messages", locals: { form: f } %>

  <div class='control-group'>
    <%= f.label :screen_name, class: "control-label" %>
    <div class='controls'>
      <%= f.text_field :screen_name, :autofocus => true %>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
