<%= form_for(User.new, :as => "user", :url => registration_path("user"), :html => { class: "form-horizontal" }) do |f| %>
  <%= render :partial => "shared/error_messages", locals: { form: f } %>
  <div class='control-group'>
    <%= f.label :screen_name, class: "control-label" %>
    <div class='controls'>
      <%= f.text_field :screen_name, :autofocus => true, class: "signup-focus", autocomplete: "off" %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :email, class: "control-label" %>
    <div class='controls'>
      <%= f.email_field :email, autocomplete: "off"  %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :password, class: "control-label" %>
    <div class='controls'>
      <%= f.password_field :password %>
    </div>
  </div>

  <div class='control-group'>
    <%= f.label :password_confirmation, class: "control-label" %>
    <div class='controls'>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class='control-group'>
    <div class='controls'>
      <button class="btn btn-blue btn-block span7" href="#">
        Sign Up <i class="icon-ok"></i>
      </button>
    </div>
  </div>
<% end %>