<div class="box">
  <div class="box-header">
    <span class="title box-title"><i class="icon-asterisk"></i> About</span>
  </div>
  <div class="box-content padded">
    <div class='row-fluid'>
      <div class='span9'>
        <p><%= @user.profile.name %></p>
        <p><%= @user.email %></p>
        <p><i><%= @user.profile.headline %></i></p>
      </div>
      <div class='span3'>
        <% if @user.photo %>
          <div class='thumbnail'>
            <a href="<%= @user.photo.url + filepicker_view %>">
              <img class='img-loading' data-src='<%= @user.photo.url + filepicker_project_view(100, 100) %>' width='100px' height='100px' src='/assets/ie-spacer.gif'>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <legend>
      <small class='user-summary-title'>Summary</small>
    </legend>
    <p>
    <% if @user.profile.summary && @user.profile.summary.length > 0 %>
      <%= simple_format(@user.profile.summary) %>
    <% else %>
      Not provided
    <% end %>
    </p>

  </div>
  <% if user_signed_in? && @user != current_user %>
  <div class="box-content padded">
    <div class="span3 pull-right">
      <div class="well relative" style='padding: 8px;'>
        <% if @user.follower_ids.include?(current_user.id) %>
          <a href='/<%= @user.screen_name %>/unfollow'>
            <span class="triangle-button blue"><i class="icon-plus"></i></span>
            <i class='icon-star-empty'></i> unfollow
          </a>
        <% else %>
          <a href='/<%= @user.screen_name %>/follow'>
            <span class="triangle-button blue"><i class="icon-plus"></i></span>
            <i class='icon-star'></i> follow
          </a>
        <% end %>
      </div>
    </div>
  </div>
  <br style='clearfix'>
  <br>
  <% end %>
    
</div>