<div class="box">
  <div class="box-header">
    <span class="title box-title">
      <i class="icon-th-list"></i> Projects
    </span>
    <% if signed_in? && current_user == @user %>
    <ul class="box-toolbar">
      <li class="toolbar-link">
        <%= link_to "<i class='icon-plus'></i> Add a project".html_safe, new_user_project_path(current_user) %>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="box-content padded">
    <% project_count = 0 %>
    <% @user.projects.each do |project| %>
    <% if project_count % 3 == 0 %>
    <div class="row-fluid">
    <% end %>
      <div class='span4'>
        <div class='box project-box' style='padding: 20px;'>
          <div class="img-polaroid project-image">
            <%= link_to user_project_path(@user, project) do %>
            <img class='img-loading' 
            data-src='<%= project.images.empty? ? 
            (image_path "project_placeholder.png") : project.images.first.url + filepicker_project_view(300, 200) %>' 
            width='300px' height='200px' src='/assets/ie-spacer.gif'>
            <% end %>
          </div>
          <div class="caption">
            <h3 class='project-title'><%= "#{project.title}" %></h3>
            <div>
              <% project.technologies.split(',').each do |tech |%>
              <span class="label label-blue tech-label"><%= tech %></span>
              <% end %>
            </div>
            <br>
            <p><%= "#{project.summary}" %></p>
            <p>
              <%= link_to "Read more", user_project_path(@user, project), class: "btn btn-primary button"%>

              <% if project.link && project.link.length > 0 %>
              <a href="<%= project.link %>" class="btn btn-default button">Open</a>
              <% end %>
              <% if user_signed_in? && current_user == @user %>
              <a href="<%= edit_user_project_path(@user, project) %>" class="btn btn-default button">Edit</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% if project_count % 3 == 2 %>
    </div>
    <% end %>
    <% project_count += 1 %>
    <% end %>
    <% if project_count % 3 != 0 %>
    </div>
    <% end %>
  </div>
</div>