<div class="box">
  <div class="box-header">
    <span class="title box-title">
      <i class="icon-folder-open-alt"></i> Projects
    </span>
    <% if signed_in? && current_user == @user %>
    <ul class="box-toolbar">
      <li class="toolbar-link">
        <a href='#edit-project-modal' class='modal-toggle' data-toggle="modal" data-remote='<%= new_user_project_path(current_user)%> .body-for-modal'>
          <i class='icon-plus'></i> Add a project
        </a>
      </li>
    </ul>
    <% end %>
  </div>
  <div class='box-content padded'>
  <% unless @user.projects.empty? %>
  <div class='row-fluid'>
    <div class='span9' style='text-align: center;'>
    <% (@user.projects.map { |p| p.technologies.split(',') }).flatten.uniq.each do |lang| %>
      <a href='#' data-language='.<%= lang.downcase.gsub(/[\W]/, '_') %>' 
        class='btn btn-gray language-btn button'>
        <%= lang %>
      </a>
    <% end %>
      <a href='#' data-language='' class='btn btn-blue language-btn button'>Show All</a>

    </div>
      <div class="btn-group span3">
        <a class="btn dropdown-toggle btn-default span11" data-toggle="dropdown" href="#">
          <span class='project-sorted-selected'>Sort</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class='project-sort-option' data-sort='original-order' data-ascending='true'>
            <a href='#'>Original</a>
          </li>
          <li class='project-sort-option' data-sort='creation_date' data-ascending='false'>
            <a href='#'>Newest to Oldest</a>
          </li>
          <li class='project-sort-option' data-sort='creation_date' data-ascending='true'>
            <a href='#'>Oldest to Newest</a>
          </li>
          <li class='project-sort-option' data-sort='created_at' data-ascending='false'>
            <a href='#'>Most Recenly Added</a>
          </li>
          <li class='project-sort-option' data-sort='created_at' data-ascending='true'>
            <a href='#'>Least Recently Added</a>
          </li>
          <li class='project-sort-option' data-sort='updated_at' data-ascending='false'>
            <a href='#'>Most Recenly Updated</a>
          </li>
          <li class='project-sort-option' data-sort='updated_at' data-ascending='true'>
            <a href='#'>Least Recently Updated</a>
          </li>
          <li class='project-sort-option' data-sort='random' data-ascending="true">
            <a href='#'>Random</a>
          </li>
          <li class='project-sort-option' data-sort='followers' data-ascending='false'>
            <a href='#'>Most Follows</a>
          </li>
          <li class='project-sort-option' data-sort='followers' data-ascending='true'>
            <a href='#'>Least Follows</a>
          </li>
        </ul>
      </div>
  </div>
  <% end %>
  <div class="row-fluid" id='projects-container' style='height: 100%;'>
    <% project_count = 0 %>
    <% if @user.projects.empty? %>
      No projects yet...
    <% end %>

    <% @user.projects.each do |project| %>
    <%# if project_count % 3 == 0 %>
    <!-- <div class="row-fluid"> -->
    <%# end %>
      <div class='project span4 clearfix <%= project.technologies.downcase.gsub(/[^,\w]/,'_').split(',').join(' ') %>' style='margin-left: 1%; padding: 5px; min-width: 250px;'>
        <span style='display: none;' class='created_at'><%= project.created_at %></span>
        <span style='display: none;' class='creation_date'><%= project.creation_date %></span>
        <span style='display: none;' class='updated_at'><%= project.updated_at %></span>
        <div class='box project-box clearfix' style='padding: 20px;'>
          <div class="img-polaroid project-image">
            <%= link_to user_project_path(@user, project) do %>
            <img class='img-loading' 
            data-src='<%= project.images.empty? ? 
            (image_path "project_placeholder.png") : project.images.first.url + filepicker_project_view(300, 200) %>' 
            width='300px' height='200px' src='/assets/ie-spacer.gif'>
            <% end %>
          </div>
          <div class="caption clearfix">
            <h3 class='project-title'>
              <%= "#{project.title}" %>
              <small>
                <i class='icon-star'></i>
                <span class='followers'><%= project.followers.length%></span>
              </small>
            </h3>
            <div>
              <% project.technologies.split(',').each do |tech |%>
              <a class="label label-blue tech-label language-btn"
                data-language='.<%= tech.downcase.gsub(/[\W]/, '_') %>'
              >
                <%= tech %>
              </a>
              <% end %>
            </div>
            <br>
            <p><%= "#{project.summary}" %></p>
            <p>
              <%= link_to "Read more", user_project_path(@user, project), class: "btn btn-primary button"%>

              <% if project.link && project.link.length > 0 %>
              <a href="<%= project.link %>" class="btn btn-default button">Open</a>
              <% end %>
              <% if user_signed_in? && current_user == @user %>
              <a href="<%= edit_user_project_path(@user, project) %>" class="btn btn-default button">Edit</a>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <%# if project_count % 3 == 2 %>
    <!-- </div> -->
    <%# end %>
    <%# project_count += 1 %>
    <% end %>
    <%# if project_count % 3 != 0 %>
    <!-- </div> -->
    <%# end %>
  </div>
  <span class='clearfix'></span>
  </div>
</div>

<div id='edit-project-modal' class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class='icon-file-alt'></i> New Project</h3>
  </div>
  <div class="modal-body" style='max-height: 650px;'>
    <div style='text-align: center;'>
      <p><i class='icon-spinner icon-spin'></i> one moment...</p>
    </div>
  </div>
</div>

<% unless @user.projects.empty? %>
<script>
  $(function(){
    project_box_on_load(
      null,
      '<%= @policy %>',
      '<%= @signature %>'
    );
  });
</script>
<% end %>