<% content_for :title, @user.screen_name %>
<h1>
  UserProfiles#show <%= @user.screen_name %>
</h1>

<div class="row-fluid">
  <div class="span6">
    <div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-th-list"></i> About</span>
      </div>
      <div class="box-content padded">
        <div class='row-fluid'>
          <div class='span9'>
            <p><%= @user.profile.name %></p>
            <p><%= @user.email %></p>
            <p><i><%= @user.profile.headline %></i></p>
          </div>
          <div class='span3'>
            <% if @user.photo %>
              <div class='thumbnail'>
                <a href="<%= @user.photo.url + filepicker_view %>">
                  <img class='img-loading' data-src='<%= @user.photo.url + filepicker_project_view(100, 100) %>' width='100px' height='100px' src='/assets/ie-spacer.gif'>
                </a>
              </div>
            <% end %>
          </div>
        </div>
        <legend>
          <small>Summary</small>
        </legend>
        <p><%= simple_format(@user.profile.summary) %></p>

      </div>
      <% if user_signed_in? && @user != current_user %>
      <div class="box-content padded">
        <div class="span3 pull-right">
          <div class="well relative" style='padding: 8px;'>
            <% if @user.follower_ids.include?(current_user.id) %>
              <a href='/<%= @user.screen_name %>/unfollow'>
                <span class="triangle-button blue"><i class="icon-plus"></i></span>
                <i class='icon-star-empty'></i> unfollow
              </a>
            <% else %>
              <a href='/<%= @user.screen_name %>/follow'>
                <span class="triangle-button blue"><i class="icon-plus"></i></span>
                <i class='icon-star'></i> follow
              </a>
            <% end %>
          </div>
        </div>
      </div>
      <br style='clearfix'>
      <br>
      <% end %>
        
    </div>
    <div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-th-list"></i> Contact Information</span>
      </div>
      <div class="box-content padded">
        <% @user.contacts.each do |contact| %>
          <div class='row-fluid'>
            <div class='span1'>
            </div>
            <div class='span2'>
              <%= contact.t %>
            </div>
            <div class='span9'>
              <%= contact.info %>
            </div>
          </div>
        <% end %>
        <% @user.verified_contacts.each do |contact| %>
          <div class='row-fluid'>
            
            <div class='span1' style='text-align:center;'>
              <%= verifiedContactIcon(contact.t).html_safe %>
            </div>
            <div class='span2'>
              <%= contact.t %>
            </div>
            <div class='span5'>
              <%= contact.info %> 
            </div>
            <div class='span2'>
              <span class="badge badge-green"<i class='icon-check'></i> verified</span>
            </div>
            <div class='span2'>
              <a href="<%= verifiedContactLink(contact).html_safe %>" class='btn btn-mini btn-default' target="_blank"><i class="icon-external-link"></i> open</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% @user.github_panels.each do |panel| %>
    <div class='box'>
      <div class="box-header">
        <span class="title"><i class="icon-github-alt"></i> Gibhub Panel</span>
      </div>

      <div class='box-content padded clearfix'>
        <div class='row-fluid'>
          <div class='span1'>
            <a href='<%= panel.url.html_safe %>'><i class="icon-github icon-4x"></i></a>
          </div>
          <div class='span2'>
            <a href='<%= panel.url.html_safe %>'><%= panel.login %></a>
          </div>
          <div class='span4'>
            public repos: <%= panel.public_repos %>,<br>
            total repos: <%= panel.total_repos %>
          </div>
          <div class='span4'>
            followers: <%= panel.followers %>,<br>
            following: <%= panel.following %>,<br>
            github member for: <%= time_ago_in_words(panel.github_created_at) %>
          </div>
        </div>
        <br>
        <div class='row-fluid'>
          <figure style="height: 200px;" id="myChart" class='span12'></figure>
          <br class='clearfix'>
          <script>
          $(function(){
            var data = {
            "xScale": "ordinal",
            "yScale": "exponential",
            "main": [
              {
                "className": ".languages",
                "data": <%= panel.language_count_json.html_safe %>
              }
            ]
          };
          var myChart = new xChart('bar', data, '#myChart');
          console.log('draw chart plz')
          })
          </script>
        </div>
        <br>
        <div class='row-fluid'>
            <small class='pull-right'>
            last updated: <%= time_ago_in_words(panel.created_at) + " ago" %>
            </small>
          </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="span6">
    <div class='row-fluid'>
      <div class="box span6 user-stats-box">
        <div class="box-header">
          <div class="title">Statistics (last 30 days)</div>
        </div>

        <div class="box-content padded">
          <div class="row-fluid">
            <div class="span12 separate-sections" style="margin-top: 5px;">
              <div class="row-fluid">
                <div class="span12">
                  <div class="dashboard-stats">
                    <ul class="inline">
                      <li class="glyph"><i class="icon-bolt icon-2x"></i></li>
                      <li class="count">
                        <%= @stat.nil? ? "N/A" : @stat.visitors %>
                      </li>
                    </ul>
                    <!-- <div class="progress progress-blue"><div class="bar tip" title="80%" data-percent="80"></div></div> -->
                    <div class="stats-label">Total Visits</div>
                  </div>
                </div>
                <br>
                <div class="row-fluid" style="margin-top:50px;">
                <div class="span6">
                  <div class="dashboard-stats small">
                    <ul class="inline">
                      <li class="glyph"><i class="icon-user"></i></li>
                      <li class="count"><%= @stat.nil? ? "N/A" : @stat.new_visits %></li>
                    </ul>
                    <!-- <div class="progress progress-blue"><div class="bar tip" title="65%" data-percent="65"></div></div> -->
                    <div class="stats-label">New Visitors</div>
                  </div>
                </div>

                <div class="span6">
                  <div class="dashboard-stats small">
                    <ul class="inline">
                      <li class="glyph"><i class="icon-eye-open"></i></li>
                      <li class="count"><%= @stat.nil? ? "N/A" : @stat.pageviews %></li>
                    </ul>
                  <!--   <div class="progress progress-blue"><div class="bar tip" title="80%" data-percent="80"></div></div> -->
                    <div class="stats-label">Page Views</div>
                  </div>
                </div>
              </div>
              </div>

            </div>
          </div>
          <div class='row-fluid'>
            <small class='pull-right'>
            last updated: <%= @stat.nil? ? "N/A" : time_ago_in_words(@stat.updated_at) + " ago" %>
            </small>
          </div>
        </div>
      </div>
      <div class="box span6 user-stats-box">
        <div class="box-header">
          <div class="title">Follows</div>
        </div>

        <div class="box-content padded">
          <div class="row-fluid">
            <div class="span12 separate-sections" style="margin-top: 5px;">
              <div class="row-fluid">
                <div class="row-fluid">
                  <div class="span6">
                    <div class="dashboard-stats small">
                      <ul class="inline">
                        <li class="glyph"><i class="icon-user"></i></li>
                        <li class="count"><%= @user.followers.count %></li>
                      </ul>
                      <!-- <div class="progress progress-blue"><div class="bar tip" title="65%" data-percent="65"></div></div> -->
                      <div class="stats-label">Followers</div>
                    </div>
                  </div>

                  <div class="span6">
                    <div class="dashboard-stats small">
                      <ul class="inline">
                        <li class="glyph"><i class="icon-eye-open"></i></li>
                        <li class="count"><%= @user.projects.inject(0) { |c, p| c + p.followers.count } %></li>
                      </ul>
                    <!--   <div class="progress progress-blue"><div class="bar tip" title="80%" data-percent="80"></div></div> -->
                      <div class="stats-label">Project Followers</div>
                    </div>
                  </div>
                </div>
                <div class="row-fluid" style="margin-top:20px;">
                  <div class="span6">
                    <div class="dashboard-stats small">
                      <ul class="inline">
                        <li class="glyph"><i class="icon-user"></i></li>
                        <li class="count"><%= @user.following_users.count %></li>
                      </ul>
                      <!-- <div class="progress progress-blue"><div class="bar tip" title="65%" data-percent="65"></div></div> -->
                      <div class="stats-label">Following</div>
                    </div>
                  </div>

                  <div class="span6">
                    <div class="dashboard-stats small">
                      <ul class="inline">
                        <li class="glyph"><i class="icon-eye-open"></i></li>
                        <li class="count"><%= @user.following_projects.count %></li>
                      </ul>
                    <!--   <div class="progress progress-blue"><div class="bar tip" title="80%" data-percent="80"></div></div> -->
                      <div class="stats-label">Project Following</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    
    </div>




    <% if current_user == @user %>
    <div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-th-list"></i> Manage</span>
      </div>
      <div class="box-content padded">
        <div class="action-nav-normal">

          <div class="row-fluid">
            <div class="span3 action-nav-button">
              <a href="<%= new_user_project_path(current_user) %>" title="New Project">
                <i class="icon-file-alt"></i>
                <span>New Project</span>
              </a>
              <span class="triangle-button red"><i class="icon-plus"></i></span>
            </div>

            <div class="span3 action-nav-button">
              <a href="/messages" title="Messages">
                <i class="icon-comments-alt"></i>
                <span>Messages</span>
              </a>
              <span class="label label-black unread-message-counter"><%= num_unread_messages %></span>
            </div>

            <div class="span3 action-nav-button">
              <a href="/profile/edit" title="Files">
                <i class="icon-edit"></i>
                <span>Edit Profile</span>
              </a>
            </div>

            <div class="span3 action-nav-button">
              <a href="/user/edit" title="Users">
                <i class="icon-user"></i>
                <span>Account</span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% end %>
    <div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-th-list"></i> Skills</span>
      </div>
      <div class="box-content padded">
        <ul>
        <% @user.skills.each do |skill| %>
          <p>
            <%= "#{skill.name}" %> (<%= skill.proficiency %>%)
            <div class="progress progress-striped">
              <div class="bar" style="width: <%= skill.proficiency %>%;"></div>
            </div>
          </p>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <span class="title">
          <i class="icon-th-list"></i> Projects
        </span>
        <% if signed_in? && current_user == @user %>
        <ul class="box-toolbar">
          <li class="toolbar-link">
            <%= link_to "<i class='icon-plus'></i> Add a project".html_safe, new_user_project_path(current_user) %>
          </li>
        </ul>
        <% end %>
      </div>
      <div class="box-content padded">
        <% project_count = 0 %>
        <% @user.projects.each do |project| %>
          <% if project_count % 3 == 0 %>
            <div class="row-fluid">
          <% end %>
          <div class='span4'>
            <div class='box' style='padding: 20px;'>
              <div class="img-polaroid">
                <%= link_to user_project_path(@user, project) do %>
                  <img class='img-loading' 
                    data-src='<%= project.images.empty? ? 
                      (image_path "project_placeholder.png") : project.images.first.url + filepicker_project_view(300, 200) %>' 
                    width='300px' height='200px' src='/assets/ie-spacer.gif'>
                <% end %>
              </div>
              <div class="caption">
                <h3><%= "#{project.title}" %></h3>
                <div>
                  <% project.technologies.split(',').each do |tech |%>
                    <span class="label label-blue"><%= tech %></span>
                  <% end %>
                </div>
                <br>
                <p><%= "#{project.summary}" %></p>
                <p>
                  <%= link_to "Read more", user_project_path(@user, project), class: "btn btn-primary"%>
                  
                  <% if project.link && project.link.length > 0 %>
                    <a href="<%= project.link %>" class="btn btn-default">Open</a>
                  <% end %>
                  <% if user_signed_in? && current_user == @user %>
                    <a href="<%= edit_user_project_path(@user, project) %>" class="btn btn-default">Edit</a>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <% if project_count % 3 == 2 %>
            </div>
          <% end %>
          <% project_count += 1 %>
        <% end %>
        <% if project_count % 3 != 0 %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>

<script>
  $(function(){
    $('.img-loading').each(function(index, el){
      var $img = $(el);
      console.log($img);
      var img = new Image();
      img.onload = function() {
        $img.removeClass('img-loading');
        $img.attr('src', img.src);
      };
      img.src = $img.attr('data-src');
    });
  });
</script>