<% content_for :title, @user.screen_name %>

<style type="text/css" class='user-in-page-css'>
<%= @user.css ? @user.css.css : "" %>
</style>

<div class='row-fluid'>

  <% if user_signed_in? && @user == current_user %>
    <%= render :partial => "css_editor" %>
  <% end %>

  <div class='span12 slide-panel profile-panel'>
    <h1 class='page-title'>
      UserProfiles#show <%= @user.screen_name %>
      <% if user_signed_in? && @user == current_user %>
        <a href='#' class='btn btn-default edit-css-btn button'>edit css</a>
      <% end %>
    </h1>

    <div class="row-fluid">
      <div class="span6">
        <%= render :partial => "about_box" %>
        <%= render :partial => "contact_box" %>

        <% @user.github_panels.each do |panel| %>
        <div class='box'>
          <div class="box-header">
            <span class="title box-title"><i class="icon-github-alt"></i> Gibhub Panel</span>
          </div>

          <div class='box-content padded clearfix'>
            <div class='row-fluid'>
              <div class='span1'>
                <a href='<%= panel.url.html_safe %>'><i class="icon-github icon-4x"></i></a>
              </div>
              <div class='span2'>
                <a class='github-login' href='<%= panel.url.html_safe %>'><%= panel.login %></a>
              </div>
              <div class='span4'>
                public repos: <%= panel.public_repos %>,<br>
                total repos: <%= panel.total_repos %>
              </div>
              <div class='span4'>
                followers: <%= panel.followers %>,<br>
                following: <%= panel.following %>,<br>
                github member for: <%= time_ago_in_words(panel.github_created_at) %>
              </div>
            </div>
            <br>
            <div class='row-fluid'>
              <figure style="height: 200px;" id="githubChart" class='span12'></figure>
              <br class='clearfix'>
              <script>
              $(function(){
                var data = {
                  "xScale": "ordinal",
                  "yScale": "exponential",
                  "main": [
                    {
                      "className": ".languages",
                      "data": <%= panel.language_count_json.html_safe %>
                    }
                  ]
                };
                new xChart('bar', data, '#githubChart');
              });
              </script>
            </div>
            <br>
            <div class='row-fluid'>
              <small class='pull-right'>
              last updated: <%= time_ago_in_words(panel.created_at) + " ago" %>
              </small>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="span6">
        <%= render :partial => "stats_box" %>

        <% if current_user == @user %>
          <%= render :partial => "manage_box" %>
        <% end %>
        <div class="box">
          <div class="box-header">
            <span class="title box-title"><i class="icon-th-list"></i> Skills</span>
          </div>
          <div class="box-content padded">
            <ul>
            <% if @user.skills.empty? %>
              No skills
            <% end %>
            <% @user.skills.each do |skill| %>
              <p>
                <%= "#{skill.name}" %> (<%= skill.proficiency %>%)
                <div class="progress progress-striped">
                  <div class="bar" style="width: <%= skill.proficiency %>%;"></div>
                </div>
              </p>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <%= render :partial => "project_box" %>
      </div>
    </div>
    
  </div>
</div>

<div class='tmp-css-store'></div>

<script>

  $(function() {

    $('#projects-container').isotope({
      // options
      itemSelector : '.project',
      layoutMode : 'fitRows'
    });

    <% if user_signed_in? && @user == current_user %>
      css_editable();
    <% end %>
    
    $('.img-loading').each(function(index, el){
      var $img = $(el);
      console.log($img);
      var img = new Image();
      img.onload = function() {
        $img.removeClass('img-loading');
        $img.attr('src', img.src);
      };
      img.src = $img.attr('data-src');
    });
  });
</script>