<div class="container-fluid box-section">
  <li class="input">
    <div class="row-fluid">
      <div class="span1">
        <label for="user_contacts_attributes_<%= count + 100 %>_t">Type</label>
      </div>
      <div class="span4">
        <input id="user_contacts_attributes_<%= count + 100 %>_t" name="user[contacts_attributes][<%= count + 100 %>][t]" size="30" type="text">
      </div>
      <div class="span1">
        <label for="user_contacts_attributes_<%= count + 100 %>_info">Info</label>
      </div>
      <div class="span4">
        <input id="user_contacts_attributes_<%= count + 100 %>_info" name="user[contacts_attributes][<%= count + 100 %>][info]" size="30" type="text">
      </div>
      <div class="span1" <="" div="">
    </div>
  </div></li>
</div>