<% 
  if @project.id.nil? 
    form = [@project, class: "fill-up"] 
  else
    form = [[current_user, @project], url: user_project_path(current_user, @project), class: "fill-up"] 
  end
%>

<%= form_for(*form) do |pf| %>
  <%= render :partial => "shared/error_messages", locals: { form: pf } %>
  <div class="row-fluid">
    <div class="span6">
      <ul class="padded separate-sections">

        <li class="input">
          <%= pf.label :title %>
          <%= pf.text_field :title, class: "span12" %>
        </li>

        <li class="input">
          <%= pf.label :summary %>
          <%= pf.text_field :summary, class: "span12" %>
        </li>

        <li class="input">
          <%= pf.label :description %>
          <%= pf.text_area :description, rows: 5, class: "span12" %>
        </li>

        <li class="input">
          <%= pf.label :creation_date %>
          <%= pf.text_field :creation_date, class: "span3 datepicker" %>
        </li>

        <li class="input">
          <%= pf.label :technologies %>
          <%= pf.text_area :technologies, id: "technologies" %>
        </li>
      </ul>
    </div>

    <div class="span6">

      <ul class="padded separate-sections">
        

        <li class='input clearfix'>
          <label>Images</label>
          <div id="projectImageDropPane" class='fileDropPane span5 clearfix'>Drop images here</div>
        </li>
        <li class='input clearfix'>
          <label>Existing Images</label>
          <ul id='projectImageEditGallery' class='clearfix' style='list-style-type: none; margin: 0; padding: 0;'>
            <% count = 0 %>
            <% @project.images.each do |image| %>
              <li style='float: left; margin: 1px;'>
                <div class='img-polaroid relative'>
                  <a href='#' class="triangle-button red remove-image-btn" data-id="<%= image.id %>"><i class="icon-trash"></i></a>
                  <img class='img-loading' src='/assets/ie-spacer.gif' 
                    data-src='<%= image.url %>/convert<%= filepicker_view %>&w=100&h=100&fit=crop' 
                    width='100px' height='100px'>
                </div>
                <input type='hidden' name='user_project[images_attributes][<%= count %>][url]' value='<%= image.url %>'>
                <input type='hidden' name='user_project[images_attributes][<%= count %>][ordering]' value='<%= count %>' class='project-image-ordering'>
                <input type='hidden' name='user_project[images_attributes][<%= count %>][id]' value='<%= image.id %>'>
              </li>
              <% count += 1 %>
            <% end %>
          </ul>
        </li>
        <br class='clearfix'>

        <li class="input">
          <%= pf.label :link %>
          <%= pf.text_field :link, class: "span12" %>
        </li>

        <li class="input">
          <%= pf.label :source_link %>
          <%= pf.text_field :source_link, class: "span12" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-actions">
    <%= pf.submit class: 'btn btn-blue' %>
    <%= link_to "Cancel", :back, class:"btn btn-default project-form-cancel-btn" %>
  </div>
<% end %>
