
<html>
<head>
  <title><%= (yield(:title).empty? ? "DevList - Developer List" : "#{yield(:title)} | DevList - Developer List") %></title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40518208-1', 'devlist.net');
    ga('send', 'pageview');
  </script>
  <% end %>
</head>
<body>
    <%= render :partial => "layouts/top_nav_bar" %>
    <% if notice %>
    <script>
      Growl.success({title: 'Success', text: '<%= notice %>'});
    </script>
    <% end %>
    <% if flash[:error] %>
    <script>
      Growl.error({title: 'Error', text: '<%= flash[:error] %>'});
    </script>
    <% end %>
    <% if alert %>
      <div class="alert alert-error">
        <%= alert %>
      </div>
    <% end %>
    <div class="container-fluid padded">
      <div class='row-fluid'>
        <div class='span10 offset1'>
          <div class="container-fluid main-container" style='min-height: 500px;'>
            <%= yield %>
          </div>
          <% unless user_signed_in? %>
            <div class="user-login-container row-fluid" style='display: none;'>
              <div class="span4 offset4">
                <div class="padded">
                  <div class="login box" style="margin: 80px 0 120px 0;">

                    <div class="box-header">
                      <span class="title">Login</span>
                    </div>

                    <div class="box-content padded">
                      <form class="separate-sections" action='<%= new_user_session_path %>' method='post'>
                        <div class="input-prepend">
                        <span class="add-on" href="#">
                          <i class="icon-user"></i>
                        </span>
                          <input type="text" placeholder="screen name" name='user[screen_name]' class='login-focus'>
                        </div>

                        <div class="input-prepend">
                        <span class="add-on" href="#">
                          <i class="icon-key"></i>
                        </span>
                          <input type="password" placeholder="password" name='user[password]'>
                        </div>

                        <div style='text-align: center;'>
                          <input name="user[remember_me]" type="hidden" value="0">
                          <input checked="checked" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                          <label for="user_remember_me" style="display: inline;">Remember me</label>
                        </div>

                        <div>
                          <button class="btn btn-blue btn-block" href="#">
                            Login <i class="icon-signin"></i>
                          </button>
                        </div>

                      </form>
                      <br>
                      <div>
                        <a href="/user/register" class='top-signup-btn'>
                          Don't have an account? <strong>Sign Up</strong>
                        </a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="user-signup-container row-fluid" style="display: none;">
              <div class='row-fluid'>
                <div class="span6 offset3">
                  <div class="padded">
                    <div class="login box" style="margin: 80px 0 120px 0;">
                      <div class="box-header">
                        <span class="title">Sign Up</span>
                      </div>

                      <div class="box-content padded">
                        <%= render :partial => "shared/signup_form" %>

                        <br>
                        <div>
                          <a href="/user/login" class='top-login-btn'>
                              Already have an account? <strong>Login</strong>
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>

          <% end %>

          <div class='row-fluid'>
            <small>DevList © 2013 - English</small>
          </div>
        </div>
      </div>
      
    </div>
</body>
<script>
  $('.top-login-btn').on('click', function(event) {
    event.preventDefault();
    $(".main-container").hide();
    $(".user-signup-container").slideUp();
    $(".user-login-container").slideDown();
    $(".login-focus").focus();
  });
  $('.top-signup-btn').on('click', function(event) {
    event.preventDefault();
    $(".main-container").hide();
    $(".user-login-container").slideUp();
    $(".user-signup-container").slideDown();
    $(".signup-focus").focus();
  });
  window.default_thumb = '<%= image_path "default_user_thumb.png" %>';
  <% if user_signed_in? %>
    window.current_user = { 
      id: <%= current_user.id %>, 
      screen_name: "<%= current_user.screen_name %>",
      num_unread_messages: <%= num_unread_messages %>,
      thumbnail: <%= current_user.photo.nil? ? "null" : "'#{current_user.photo.url}'".html_safe %>
    };
    window.filepicker_view_query = '<%= filepicker_view %>';
    window.filepicker_thumbnail = '<%= filepicker_crop_view(30, 30) %>';
  <% end %>
  $(function(){
    var tokenValue = $("meta[name='csrf-token']").attr('content');
    $.ajaxSetup({
      headers: {'X-CSRF-Token': tokenValue}
    });
    $(function(){
      $('.thumbnail a').touchTouch();
    });
    $('.img-loading').each(function(index, el){
      var $img = $(el);
      var img = new Image();
      img.onload = function() {
        $img.removeClass('img-loading');
        $img.attr('src', img.src);
      };
      img.src = $img.attr('data-src');
    });
  });
</script>


</html>
